footer {
    background-color: $color__skin;    
}
footer nav {
    display: flex;
	min-height: 65px;
	align-items: center;
    position: relative;
    text-transform: capitalize;
    font-family: $font__body;
    color: #fff;
    max-width:100%;
    margin: 0 auto;
  }
.footer-navigation ul {
margin: 0;
padding: 0;
}
.footer-navigation ul li {
    display: inline-flex;
    flex-direction:row;
    flex-grow: 1;
  align-content: center;
  margin-right: 1.5em;
  a {
    color: white;
    text-decoration: none;
    
    &:hover,
    &:focus {
        text-decoration: underline;
    }
}
}

#social-menu svg {
    margin: 0 auto;
    color: rgb(245, 236, 236);
}
#social-menu .svg-inline--fa {
    display: block;
    align-items: center;
    font-size: 2em;
    margin-top:.5em;    
}


@media screen and (min-width: $query__small) {
  .menu-toggle {
    display: none;
  }
  footer nav {
    max-width:44%;    
  }
  .footer-navigation {
    ul {
      display: block;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
  }
}
.menu-social-links-menu-container {
    align-self: flex-end;
    width: 100%;
}
@media screen and (min-width: $query__medium) {
  .footer-navigation {
    ul {
      justify-content: center;
      padding-top: 0;
      list-style: none;
    }
  }
}
.site-info, .site-info a {
    font-size: small;
    color: grey;
}
.site-info {
    margin-right: 20px;
    margin-top: 1.2em;
}
