.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
	color: rgb(19, 19, 19); //test
	background: pink;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
